<h1>Listing account_lines</h1>

<table>
  <tr>
    <th>Tiers</th>
    <th>Montant</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @account_lines.each do |account_line| %>
  <tr>
    <td><%= account_line.andand.third_party.andand.name %></td>
    <td><%= account_line.amount %></td>
    <td><%= link_to 'Show', account_line %></td>
    <td><%= link_to 'Edit', edit_account_line_path(account_line) %></td>
    <td><%= link_to 'Destroy', account_line, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Account line', new_account_line_path %>
