<%= simple_form_for(@label) do |f| %>
  <% if @label.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@label.errors.count, "error") %> prohibited this label from being saved:</h2>

      <ul>
      <% @label.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.input :name %>
  </div>

  <div class="field">
    <%= f.association :parent %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= render partial: 'show_account_lines', locals: { account_lines: @label.all_lines(params[:page]), account: nil, search: Label.ransack(params[:q]) } %>