<table class="table table-striped table-condensed">
  <tr>
    <th colspan='3'>Name</th>
    <th>Prix</th>
    <th></th>
    <th></th>
  </tr>

<% Label.without_parent.each do |label| %>
  <tr>
    <td colspan='3'><%= label.name %></td>
    <td><%= label.prix_total_filtre(@q, @account) %> €</td>
    <td><%= link_to 'Show', label %></td>
    <td><%= link_to 'Edit', edit_label_path(label) %></td>
    <td><%= link_to 'Destroy', label, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
  <% label.children.each do |label_c| %>
    <% if label_c.prix_total_filtre(@q, @account) != 0 %>
      <tr>
        <td>-</td>
        <td colspan='2'><%= label_c.name %></td>
        <td><%= label_c.prix_total_filtre(@q, @account) %> €</td>
        <td><%= link_to 'Show', label_c %></td>
        <td><%= link_to 'Edit', edit_label_path(label_c) %></td>
        <td><%= link_to 'Destroy', label_c, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  <% end %>
<% end %>
</table>